/* Reset some default styles */
body, h1, ul {
    margin: 0;
    padding: 0;
}

/* Set a background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}



/* Product Grid */
.product-grid {
    display:flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Product Card */
.product-card {
    flex: 0 0 calc(33.33% - 20px); /* Adjust width for 3 cards per row with 20px gap */
    max-width: calc(26.33% - 20px); /* Adjust max-width for 3 cards per row with 20px gap */
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    position: relative;
    gap: 20px;
}

/* Pseudo-classes - Hover effect on product button */
.product-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.product-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    color: #e74c3c;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-image {
    max-width: 100%;
    height: 200px; /* Adjust height for better consistency */
}

.product-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.product-button:hover {
    background-color: #45a049;
}

.product-button.added-to-cart {
    background-color: grey; /* Grey when product is added */
}

/* Pseudo-elements - Sale badge */
.product-card::before {
    content: "SALE";
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .product-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .tag {
        margin-bottom: 20px;
        text-align: center;
    }
    .ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .ul div {
        text-align: center;
    }
}
